@font-face {
    font-family: "AnglicanText";
    src: url(/fonts/AnglicanText.ttf);
}

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#main-content-container{
    display: flex;
    flex-direction: column;
}

#title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;/*Temp Colour for visibility*/
    height: 100px;
}

#title-box, h1{
    font-family: "AnglicanText";
    font-size: 70px;
}

#battle-arena{
    display: flex;
    flex-direction: column;
    height:450px;
    background: cornflowerblue;/*temp color for visibility*/
}

#players-and-choices{
    display: flex;
    background: crimson;/*temp color for visibility*/
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin:20px;
}

#player-moves{
    display: flex;
    background:darkmagenta;/*temp color for visibility*/
    height: 150px;
}

#battle-log{
    display: flex;
    background: darkorange;/*temp color for visibility*/
    height:170px;

}
#footer{
    display: flex;
    background: darkred;/*temp color for visibility*/
    justify-content: center;
}

#footer, p{
    font-size: 25px;
    padding: 5px;
}

.inside-pandc{
    background: darkgoldenrod;/*temp color for visibility*/
    height: 200px;
    width: 200px;
}

#battle-choices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.inside-battle-choice{
    background: darkmagenta;/*temp color for visibility*/
    height: 180px;
    width: 220px;
}