@font-face {
    font-family: "AnglicanText";
    src: url(/fonts/AnglicanText.ttf);
}

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#main-content-container{
    display: flex;
    flex-direction: column;
}

#title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url("/pictures/stone1.jpg");
}

#title-box h1{
    font-family: "AnglicanText";
    font-size: 70px;
    color: rgb(175, 31, 31);
}

#title-box h1 {
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
  }

#battle-arena{
    display: flex;
    flex-direction: column;
    height:450px;
    background-image: url("/pictures/scroll.jpg");
    background-size: cover;
    
}

#players-and-choices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 20px 20px 0px 20px;
}

#players-and-choices p{
    font-family: "AnglicanText";
    font-size: 20px;
    color: white;
}

#move-container{
    display: flex;
    justify-content: center;
    height: 150px;
}

#player-moves{
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#battle-log-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/pictures/stone1.jpg");
    height:170px;

}
#footer{
    display: flex;
    background: black;
    justify-content: center;
}

#footer p{
    font-family: "AnglicanText";
    font-size: 25px;
    padding: 5px;
    color: white;
}

#player-character{
    display: flex;
    height:200px;
    width: 300px;
    margin-left: 150px;
    border: black solid 2px;
    background: black;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.623);
}

#player-pic{
    height: 200px;
    width: 200px;
    border-right: black solid 2px;
}

#pc-pic{
    height: 200px;
    width: 200px;
    border-left: black solid 2px;
}

.battle-pic-resize{
    height: 200px;
    width: 200px;
}

#player-life{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 75px;
}

#pc-life{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 75px;
}

#pc-character{
    display: flex;
    height:200px;
    width: 300px;
    margin-right: 150px;
    border: black solid 2px;
    background: black;
    box-shadow: -5px 10px rgba(0, 0, 0, 0.623);
}

#battle-choices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height:200px;
}

#player-choice-container, #pc-choice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
}

.choice-resize{
    height: 180px;
    width: 180px;
}

.inside-moves{
    width:120px;
    height: 120px;
}

.lifesize{
    width:30px;
    height: 30px;
}

#battle-log{
    width: 1000px;
    height:130px;
    background: rgba(0, 0, 0, 0.623);
    border: white solid 2px;
    color: white;
    border-radius: 5px;
    font-family: "AnglicanText";
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#battle-log p{
    padding:20px;
}

#progress-log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 130px;
    background: rgba(0, 0, 0, 0.623);
    border: white solid 2px;
    color: white;
    border-radius: 5px;
    font-family: "AnglicanText";
}

#progress-score{
    font-size: 40px;
}

.inside-battle-log{
    margin: 20px;
}

.pic-resize{
    width:120px;
    height:120px;
}

#potion{
    width: 30px;
    height: 30px;
}