@font-face {
    font-family: "AnglicanText";
    src: url(/fonts/AnglicanText.ttf);
}

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#main-content-container{
    display: flex;
    flex-direction: column;
}

#title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: url("/pictures/scroll.jpg");
}

#title-box, h1{
    font-family: "AnglicanText";
    font-size: 70px;
}

#battle-arena{
    display: flex;
    flex-direction: column;
    height:450px;
    background: cornflowerblue;/*temp color for visibility*/
}

#players-and-choices{
    display: flex;
    background: crimson;/*temp color for visibility*/
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin:20px;
}

#move-container{
    display: flex;
    justify-content: center;
    height: 150px;
    background:darkmagenta;/*temp color for visibility*/
}

#player-moves{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#battle-log-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkorange;/*temp color for visibility*/
    height:170px;

}
#footer{
    display: flex;
    background: darkred;/*temp color for visibility*/
    justify-content: center;
}

#footer, p{
    font-family: "AnglicanText";
    font-size: 25px;
    padding: 5px;
}

#player-character{
    background: darkgoldenrod;/*temp color for visibility*/
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 300px;
}

#player-pic{
    height: 150px;
    width: 150px;
    background: darkgreen; /*temp color for visibility*/
}

#pc-pic{
    height: 150px;
    width: 150px;
    background: darkgreen; /*temp color for visibility*/
}

.battle-pic-resize{
    height: 150px;
    width: 150px;
}

#player-life{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 75px;
    background: crimson; /*temp color for visibility*/
}

#pc-life{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 75px;
    background: crimson; /*temp color for visibility*/
}

#pc-character{
    background: darkgoldenrod;/*temp color for visibility*/
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 300px;
}

#battle-choices{
    background: darkgoldenrod;/*temp color for visibility*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height:200px;
}

.inside-battle-choice{
    background: darkmagenta;/*temp color for visibility*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 220px;
}

.inside-moves{
    width:120px;
    height:120px;
}

#battle-log{
    width: 800px;
    height:130px;
    background: chartreuse;/*temp color for visibility*/
}

#progress-log{
    width: 200px;
    height: 130px;
    background: chartreuse;/*temp color for visibility*/
}

.inside-battle-log{
    margin: 20px;
}

.pic-resize{
    width:120px;
    height:120px;
}